.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

h1, h2, h3, h4 {
  color:rgb(254, 186, 198) !important;
   font-family: 'Great Vibes' !important;
}

.myLabel {
  margin-top: 20px;
  margin-bottom: 2px;
}

form .uk-alert {
     margin-top: 0px !important; 
}

.uk-button-default {
  color: #222;
  text-transform: none !important;
}

p {
  color:rgb(254, 186, 198) !important;
  font-family: 'Arial' !important;
}

.p1 {
  font-size: 18px;
}

.p2 {
  font-size: 22px;
}

.p3 {
  font-size: 28px;
}

.hero-image {
  border:1px solid #ccc; padding:3px; background:#fff;
}

.Logo {
  background-image: url(/favicon.ico)
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.codeblock {
  text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.uk-navbar-nav>li.uk-active>a {
    color:rgb(254, 186, 198) !important;
}
.uk-button-primary {
    background-color: rgb(254, 186, 198) !important;
}

.uk-button:disabled {
    background-color: #fafafa !important;
    color: #999;
    border-color: rgba(0,0,0,.2);
    background-image: none;
    box-shadow: none;
    text-shadow: 0 1px 0 #fff;
}

.uk-input:active,.uk-input:focus {
    border-color:rgb(254, 186, 198) !important;
}

.my-button-group-button {
  padding: 0 20px !important;
}

.uk-button-group {
  flex-wrap: wrap;
}

.thankyou h3, .thankyou h4 {
  margin: 5px 0 5px 0;
}

.uk-form {
  margin-bottom: 50px;
}